body {font-family: 'Times New Roman', Times, serif; color: #b2d8d8; background-color: #008080; margin: 1rem;}
h1, h2 {color: #faf9f9;}
table, th, td { border: 1px solid black; border-collapse: collapse; }
caption { font-weight: bold; margin-bottom: 0.5rem; }
.evenrow { background-color: #f2f2f2; }
th, td { padding: 0.4rem 0.6rem; }
a {color: #66b2b2}
nav {background-color: #f2f2f2;}
nav a {color: #008080; text-decoration: none; font-weight: bold; margin: 0 1rem;}
nav a:hover {text-decoration: underline; background-color:#faebd7;}

nav {padding: 10px; margin-bottom: 30px; border: 1px solid #000000;}


@media (max-width: 768px) {
	nav a {
		display: block;
		width: 100%;
		margin: 10px 0;
		text-align: center;
	}
	nav span {
		display: none;
	}
}
