body {font-family: 'Times New Roman', Times, serif; color: #000000; background-color: #008080; margin: 1rem;}
h1, h2 {color: #faf9f9;}
table, th, td { border: 1px solid black; border-collapse: collapse; }
caption { font-weight: bold; margin-bottom: 0.5rem; }
.evenrow { background-color: #f2f2f2; }
th, td { padding: 0.4rem 0.6rem; }
a {color: #003366}
nav {background-color: #f2f2f2;}
nav a {color: #003366; text-decoration: none; font-weight: bold; margin: 0 1rem;}
nav a:hover {text-decoration: underline; background-color:#faebd7;}

nav {padding: 10px; margin-bottom: 30px; border: 1px solid #000000;}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: #FFFFFF;
}
.skip:focus {
  position: static;
  width: auto;
  height: auto;
  color: #FFFFFF;
}

@media (max-width: 768px) {
	nav a {
		display: block;
		width: 100%;
		margin: 10px 0;
		text-align: center;
	}
	nav span {
		display: none;
	}
}
